.slider-wrap {
 border: 1px solid #222;
  padding: 10px;
  overflow: scroll;
}

.slider-container {
  height: 303px;
  display: flex;
  transition: 1s all ease;

}

.slider-item {
  min-width: 375px;
  height: 303px;
  border: 1px solid #222;
  margin: 0 15px;
}

//<HomePage
// isLogoWhite={isLogoWhite}
//setIsLogoWhite={setIsLogoWhite}
//backgroundPageScrollOn={backgroundPageScrollOn}
//backgroundPageScrollOff={backgroundPageScrollOff}
//userDeviceScreenSize={userDeviceScreenSize}
///>
