.imagesMagnifiers {
  display: flex;

  &__small {
    min-width: 100%;
    img {
      min-height: 725px;

    }
  }

  &__zoom {
    min-width: 65%;
    min-height: 300px;
    left: 3px;
  }
}

@media screen and (max-width: 640px){
  .imagesMagnifiers__small {
    img {
      min-height: 422px;
    }
  }
}