.imagesMagnifiers {
  display: flex;

  &__small {
    min-width: 100%;
    /*img {
      // min-height: 725px;

    }*/
  }

  &__zoom {
    min-width: 65%;
    /*min-height: 300px;*/
    left: 3px;
  }
}

@media screen and (max-width: 640px){
  .imagesMagnifiers__small {
    img {
      /*min-height: 422px;*/
    }
  }
}

.input-wrap {
  max-width: 400px;
  margin: 300px auto;
  display: flex;
  align-items: center;
  border: 1px solid #222;

  .input {
    font-size: 18px;
    padding: 5px;
    width: 100%;
    border: 1px solid #222;
    border-radius: 8px;
  }
}