@import "src/styles/media";


.textarea {
  width: 100%;
  border: 1px solid #DBDBDB;
  padding: 16px 14px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  min-height: inherit;
  color: #070707;
  opacity: .5;
}

