@import "src/media";

.product-page {

  &__information {
    max-width: 420px;
    margin-left: 30px;

    @media screen and (max-width: 790px){
      padding-top: 20px;
      margin: 0 auto;
    }

    @include xxl {
      width: 612px;
    }

    &--title {
      font-size: 20px;
      margin: 20px 0 14px 0;

      @include lg {
        font-size: 24px;
      }

      @include xl {
        margin: 20px 0 16px 0;
      }
    }

    &--season {
      margin: 14px 0 16px 0;

      @include xl {
        margin: 12px 0 16px 0;
        font-size: 18px;
      }
    }

    &--wrap {
      display: flex;
      justify-content: space-between;
      max-width: 340px;
    }

    &--description {
      margin-bottom: 14px;
      font-family: Montserrat-Medium;
      @include xl {
        margin-bottom: 12px;
      }
    }

    &--value {
      min-width: 112px;
      margin-left: 12px;
    }

    &--btn {
      min-width: 222px;
      margin: 16px 0 20px 0;

      @include xl {
        min-width: 240px;
        margin: 18px 0 30px 0;
      }
    }

  }
}