
.about {
  margin: 40px 0 50px 0;
  padding: 0 16px;

  @include xl {
    margin: 120px auto;
  }
  &__title {
    margin-bottom: 20px;

    @include xl {
      margin-bottom: 30px;
    }
  }

  &__text {

    &--top {
      margin-bottom: 30px;

      @include lg {
        margin-bottom: 0;
      }
    }
  }

  &__read-more {
    text-decoration: underline;
    font-family: Montserrat-Medium;
    color: $text-color;
    cursor: pointer;
  }

}

@media screen and (min-width: 800px) {
  .about {
    display: flex;
    justify-content: space-between;
    max-width: 1314px;

    &__text {
      max-width: calc(50% - 15px);
    }
  }
}

