@import "src/media";

.main-slider {
  height: 670px;
  background: #3f3f3f;
  position: relative;
  z-index: 1;


  @include xl {
    height: 970px;
    max-height: 100vh;

  }

  &__item {
    position: relative;
  }

  &__img{
    position: absolute;
    height: 670px;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include xl {
      height: 100vh;
    }
  }

  &__opacity1 {
    opacity: 1;
    width: 100%;
    transition: 1.5s ease;
  }

  &__opacity0 {
    opacity: 0;
    width: 100%;
    transition: 1.5s ease;
  }
  &__arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 50%;
    padding: 0 16px;

    @include xl {
      top: 40%;
    }

    &--item {
      cursor: pointer;
    }

    @include xl {
      padding: 0 90px;
    }

    @include xxl {
      padding: 0 120px;
    }

    &--text {
      display: none;
      font-family: CormorantGaramond-Regular;

      @include xl {
        display: block;
        font-size: 64px;
        max-width: 630px;
        text-align: center;
        color: #fff;
        text-shadow: 0 4px 10px #00000059;
      }

    }
  }

  &__dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    max-width: 210px;
    bottom: 30px;
    z-index: 999999;
  }

  &__dot {
    display: none;

    @include xl {
      display: block;
      width: 30px;
      z-index: 999;
      border: 2px solid rgba(7,7,7, .1);
      cursor: pointer;
      margin: 0 auto;
      text-align: center;
      border-radius: 10px;
    }

    &--active {
      border: 2px solid #070707;
    }
  }

  &__animations {
    animation: visible-anim 1.2s ease-in 1 forwards;
  }

  &__hideAnimations {
    animation: hide-anim 1s ease-in-out 1 forwards;
  }

  @keyframes visible-anim {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes hide-anim {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

}


