@import "src/styles/media";

.product-page-slider-wrap {
  display: flex;
  flex-direction: column-reverse;

  @include xl {
    flex-direction: row;
  }
}

.product-page-slider {
  width: 100%;
  max-width: 731px;
  display: flex;
  flex-direction: column;
  @include xl {
  }
}

@media screen and (max-width: 1200px){
  .product-page-slider {
    margin-right: 0;
  }
}

.product-page-miniImages {
  width: 120px;
  height: 75px;
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 16px;
  margin-right: 6px;
  cursor: pointer;
  opacity: 0.6;

  @media screen and (min-width: 720px){
    height: 120px;
  }
}

.product-page-miniImages:hover {
  opacity: 1;
  transition: 0.6s all ease;
}

.product-page-miniImages__active {
  opacity: 1;
  transition: 0.6s all ease;
}

@media screen and (max-width: 1200px){
  .product-page-miniImages {
    display: block;
  }
}

@media screen and (max-width: 790px){
  .product-page-miniImages {
    display: block;
  }
}

@media screen and (max-width: 640px){
  .product-page-slider {
  }

  .product-page-miniImages {
    display: block;
  }
}

.product-page__slider--arrows {
  width: 100%;
  max-width: 731px;
  img {
    cursor: pointer;
    padding: 0 30px;
    position: absolute;
    z-index: 999;
    top: calc(50% - 36px);

  }

}

.product-page__slider--left-arrow {

}

.product-page__slider--right-arrow {
  right: 0;
}


.product-page__slider--curs {
  display: block;
  position: relative;
}

.preloader {
  margin: 0 auto;
  height: 725px;
}

.slider-miniImages {
  display: flex;
  flex-direction: row;

  @include xl {
    flex-direction: column;
  }
}

.mobile-mini-images {
  display: flex;
  margin: 0 auto;
  padding-top: 16px;
}
