@import "src/media";

.product-page-slider-wrap {
  display: flex;

}

.product-page-slider {
  width: 100%;
  max-width: 731px;
  max-height: 725px;
  display: flex;
}

@media screen and (max-width: 1200px){
  .product-page-slider {
    margin-right: 0;
  }
}

.product-page-miniImages {
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  margin-right: 16px;
}

@media screen and (max-width: 1200px){
  .product-page-miniImages {
    display: none;
  }
}

@media screen and (max-width: 790px){
  .product-page-miniImages {
    display: block;
  }
}

@media screen and (max-width: 640px){
  .product-page-slider {
  }

  .product-page-miniImages {
    display: none;
  }
}
