

  .product-page__slider {
    display: flex;
    width: 100%;

    @include xl {
      max-width: 884px;
    }

    &--arrows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      padding: 0 16px;
      cursor: pointer;
      height: inherit;

    }
  }

